{% load static %}
<link rel="stylesheet" href="{% static './css/i_styles.css' %}?after">

<html>
    <head>
        <META http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Geonu profile</title>
        <link rel="stylesheet" href="i_styles.css?after">
        
    </head>


    <body>
        <div class="container">

            <header>
                <p>Geonwoo's blog</p>

                <!-- 클릭시 링크를 통해 이동하는 부분 -->
                <ul>
                    <!-- 링크1 -->
                    <li>
                        <a href="#">
                            ABOUT
                        </a>
                    </li>


                    <!-- 링크2 -->
                    <li>
                        <a href="#">
                            EXPERIENCE

                        </a>
                    </li>

                    <!-- 링크3 -->
                    <li>
                        <a href="#">
                            EDUCATION

                        </a>
                    </li>

                    <!-- 링크4 -->
                    <li>
                        <a href="#">
                            SKILLS

                        </a>
                    </li>

                    <!-- 링크5 -->
                    <li>
                        <a href="#">
                            INTERESTS

                        </a>
                    </li>
                </ul> 

            </header>



            <section class="about">
                <!-- 이름 -->
                <p>안녕하세요 저는 멀티잇 클라우드 서비스 개발자 취업캠프 6기 신건우 입니다</p>
                
                <!-- <a href="#">
                    Learn more
                </a> -->
            </section>


            <footer >
                Mysites <a href="https://github.com/gws1106/">github </a>
                | <a href="https://www.notion.so/Resume-de26ca58274e460bbd8fa1d619122009">notion site </a>

            </footer>

        </div>
     


            
    </body>

</html>



